In [2]:
import pandas as pd
import numpy as np

In [3]:
A = {"Name_Teacher" :["Ann", "Mala", "Sean"], 
     "Category_1":["1-12", "15-19", "6-20"], 
     "Category_2":["2-10", "3-12", "5-19"],
     "DC":["2.1", "6.5", "7.1"]}

In [4]:
Ad = pd.DataFrame(A, index=["I1", "I2", "I3"])

In [5]:
print(Ad)

   Name_Teacher Category_1 Category_2   DC
I1          Ann       1-12       2-10  2.1
I2         Mala      15-19       3-12  6.5
I3         Sean       6-20       5-19  7.1

In [6]:
Ad2 = Ad.copy(deep = True)
Ad3 = Ad.copy(deep = True)

In [7]:
# let's rename the columns to Teacher, C1 and C2

Ad.columns = ["Teacher", "C1", "C2", "DC"]
print(Ad)

   Teacher     C1    C2   DC
I1     Ann   1-12  2-10  2.1
I2    Mala  15-19  3-12  6.5
I3    Sean   6-20  5-19  7.1

In [8]:
# We can also use rename() method to rename columns. 
# Here we only changes two column names

Ad2.rename(columns={"Name_Teacher": "Teacher", "Category_1": "C1"}, inplace=True)

In [9]:
print(Ad2)

   Teacher     C1 Category_2   DC
I1     Ann   1-12       2-10  2.1
I2    Mala  15-19       3-12  6.5
I3    Sean   6-20       5-19  7.1

In [10]:
# how to split column C1
# https://www.geeksforgeeks.org/python-pandas-split-strings-into-two-list-columns-using-str-split/

C1new = Ad["C1"].str.split("-", n = -1, expand = True)
  
# making separate column C11 from C1new
Ad["C11"]= C1new[0]
  
# making separate column C12 from C1new
Ad["C12"]= C1new[1]

In [11]:
print(Ad)
print(Ad.dtypes)

   Teacher     C1    C2   DC C11 C12
I1     Ann   1-12  2-10  2.1   1  12
I2    Mala  15-19  3-12  6.5  15  19
I3    Sean   6-20  5-19  7.1   6  20
Teacher    object
C1         object
C2         object
DC         object
C11        object
C12        object
dtype: object

In [12]:
convert_dict = {'C11': float,
                'C12': float,
                 'DC': float
               }
  
Ad = Ad.astype(convert_dict)
print(Ad.dtypes)

Teacher     object
C1          object
C2          object
DC         float64
C11        float64
C12        float64
dtype: object

In [13]:
# iloc[n] will return the row at Python index n

print(Ad.iloc[2])

Teacher    Sean
C1         6-20
C2         5-19
DC          7.1
C11         6.0
C12        20.0
Name: I3, dtype: object

In [14]:
# we can also use slicing with iloc to get multiple rows

print(Ad.iloc[0:2])

   Teacher     C1    C2   DC   C11   C12
I1     Ann   1-12  2-10  2.1   1.0  12.0
I2    Mala  15-19  3-12  6.5  15.0  19.0

In [15]:
# using loc[custom_index] we can access custom_index row. 
# If there is no custom_index, it will consider Python index 

print(Ad.loc["I2"])

Teacher     Mala
C1         15-19
C2          3-12
DC           6.5
C11         15.0
C12         19.0
Name: I2, dtype: object

In [16]:
"""
In-class activity 1: Create a Pandas data frame that has the following information and 
call this data frame df1:

First_Name - Asha, Ajay, Polly, Liz
Last_Name - Lani, Pali, Santos, Park
Zip_code - 20110, 57714, 76501, 95117

Rename the columns to First, Last and Zip
"""

df1 = {"First_Name": ["Asha","Ajay","Polly","Liz"],
      "Last_Name": ["Lani","Pali","Santos","Park"],
      "Zip_code": [20110, 57714, 76501, 96117]}

df1 = pd.DataFrame(df1)
df1.columns = ["First","Last","Zip"]
print(df1)

   First    Last    Zip
0   Asha    Lani  20110
1   Ajay    Pali  57714
2  Polly  Santos  76501
3    Liz    Park  96117

In [17]:
list1 = [12, 14, 16, 12, 18, 19, 16, 20, 17, 12]

B = pd.DataFrame(list1)

print(B)
print("Number of rows in B", B.shape[0])

    0
0  12
1  14
2  16
3  12
4  18
5  19
6  16
7  20
8  17
9  12
Number of rows in B 10

In [18]:
# Since B doesn't have custom_index yet, iloc[n] and loc[n] will return nth row

print(B.iloc[5])

print(B.loc[5])

0    19
Name: 5, dtype: int64
0    19
Name: 5, dtype: int64

In [19]:
# drop_duplicates will drop duplicate rows

B.drop_duplicates(inplace=True)

print(B)
print("Number of rows in B", B.shape[0])

    0
0  12
1  14
2  16
4  18
5  19
7  20
8  17
Number of rows in B 7

In [20]:
# Adding column name to an exsisting dataframe

B.columns = ["Values"]

print(B)

   Values
0      12
1      14
2      16
4      18
5      19
7      20
8      17

In [21]:
# Adding custom index to an exsisting dataframe

B.index = ["A", "B", "C", "D", "E", "F", "G"]

print(B)

   Values
A      12
B      14
C      16
D      18
E      19
F      20
G      17

In [22]:
# Adding additional columns to an existing dataframe

list2 = ["Ball", "Hall", "Doll", "Mall", "Shawl", "Wall", "Call"]

B["Names"] = list2

print(B)

   Values  Names
A      12   Ball
B      14   Hall
C      16   Doll
D      18   Mall
E      19  Shawl
F      20   Wall
G      17   Call

In [23]:
"""
In-class activity 2: Use the df1 dataframe from the previous in-class 
activity and add another column named Scores with values 87, 85, 90, 77. 
Call the new dataframe as df2.
"""

df2=df1
df2["Scores"] = [87,85,90,77]
df2

   First    Last    Zip  Scores
0   Asha    Lani  20110      87
1   Ajay    Pali  57714      85
2  Polly  Santos  76501      90
3    Liz    Park  96117      77

In [24]:
print(df2.dtypes)

First     object
Last      object
Zip        int64
Scores     int64
dtype: object

### Combining two dataframes

In [25]:
list3 = [2.0, 6.1, 13.2, 5.3, 7.4, 6.3, 8.2]

C = pd.DataFrame(list(zip(list2, list3)), columns=("Names", "Numbers"))

print(C)

   Names  Numbers
0   Ball      2.0
1   Hall      6.1
2   Doll     13.2
3   Mall      5.3
4  Shawl      7.4
5   Wall      6.3
6   Call      8.2

In [26]:
newdf = B.append(C, sort=False)

print(newdf)

   Values  Names  Numbers
A    12.0   Ball      NaN
B    14.0   Hall      NaN
C    16.0   Doll      NaN
D    18.0   Mall      NaN
E    19.0  Shawl      NaN
F    20.0   Wall      NaN
G    17.0   Call      NaN
0     NaN   Ball      2.0
1     NaN   Hall      6.1
2     NaN   Doll     13.2
3     NaN   Mall      5.3
4     NaN  Shawl      7.4
5     NaN   Wall      6.3
6     NaN   Call      8.2

C:\Users\nkanungo\AppData\Local\Temp\ipykernel_35028\4110701284.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  newdf = B.append(C, sort=False)

In [27]:
newdf2 = pd.concat([B, C], axis=1)

print(newdf2)

   Values  Names  Names  Numbers
A    12.0   Ball    NaN      NaN
B    14.0   Hall    NaN      NaN
C    16.0   Doll    NaN      NaN
D    18.0   Mall    NaN      NaN
E    19.0  Shawl    NaN      NaN
F    20.0   Wall    NaN      NaN
G    17.0   Call    NaN      NaN
0     NaN    NaN   Ball      2.0
1     NaN    NaN   Hall      6.1
2     NaN    NaN   Doll     13.2
3     NaN    NaN   Mall      5.3
4     NaN    NaN  Shawl      7.4
5     NaN    NaN   Wall      6.3
6     NaN    NaN   Call      8.2

In [28]:
newdf3 = pd.concat([B, C], join = "inner")

print(newdf3)

   Names
A   Ball
B   Hall
C   Doll
D   Mall
E  Shawl
F   Wall
G   Call
0   Ball
1   Hall
2   Doll
3   Mall
4  Shawl
5   Wall
6   Call

In [29]:
newdf4 = pd.concat([B, C], join = "outer", sort=False)

print(newdf4)

   Values  Names  Numbers
A    12.0   Ball      NaN
B    14.0   Hall      NaN
C    16.0   Doll      NaN
D    18.0   Mall      NaN
E    19.0  Shawl      NaN
F    20.0   Wall      NaN
G    17.0   Call      NaN
0     NaN   Ball      2.0
1     NaN   Hall      6.1
2     NaN   Doll     13.2
3     NaN   Mall      5.3
4     NaN  Shawl      7.4
5     NaN   Wall      6.3
6     NaN   Call      8.2

In [30]:
newf5 = pd.merge(B, C, on="Names")

print(newf5)

   Values  Names  Numbers
0      12   Ball      2.0
1      14   Hall      6.1
2      16   Doll     13.2
3      18   Mall      5.3
4      19  Shawl      7.4
5      20   Wall      6.3
6      17   Call      8.2

In [31]:
S1 = pd.Series([-1, -2, -6, -5])

S2 = pd.Series([9, 10, 4, 3])

print(S1); print(S2)

0   -1
1   -2
2   -6
3   -5
dtype: int64
0     9
1    10
2     4
3     3
dtype: int64

### concatenating two series

In [ ]:
S3 = pd.concat([S1, S2], axis=1)
print(S3)

In [ ]:
S4 = pd.Series(["A", "B", "E", "D"])
pd.get_dummies(S4)

In [52]:
"""
In-class activity 3: create dataframe ddf1 with values
Colors  - Red, Yellow, Orange
Ratings - 5, 3, 4

Create another dataframe ddf2 with values

Colors  - Blue, Green, Orange
Ratings - 5, 3, 4

1) Combine ddf1 and ddf2 along the rows and call it ddf3

2) Remove any duplicates from ddf3.

"""
ddf1 = {"Colors":["Red","Yellow","Orange"],
       "Ratings": [5,3,4]}
ddf2 = {"Colors": ["Blue", "Green", "Orange"],
        "Ratings": [5, 3, 4]}

ddf1 = pd.DataFrame(ddf1)
ddf2 = pd.DataFrame(ddf2)

ddf3 = pd.concat([ddf1,ddf2],axis=0)
ddf3.drop_duplicates(inplace=True)
print(ddf3)

   Colors  Ratings
0     Red        5
1  Yellow        3
2  Orange        4
0    Blue        5
1   Green        3